/** ============================================================= */
/*? кнопка sign up в форме main */

.btnreg {
  border: solid 2px #fde9ef;
  position: absolute;
  top: 700px;
  left: 800px;
  display: inline-block;
  width: 200px;
  height: 60px;
  text-align: center;
  line-height: 55px;
  color: #fff;
  font-size: 24px;
  text-transform: uppercase;
  text-decoration: none;

  box-sizing: border-box;
  background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
  background-size: 300%;
  border-radius: 30px;
  z-index: 30;
  animation: animate 8s linear infinite;
}

/* .btnreg:hover {
    animation: animate 8s linear infinite;
  } */

@keyframes animate {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 400%;
  }
}

.btnreg:before {
  content: '';
  position: absolute;
  top: -5px;
  right: -5px;
  bottom: -5px;
  left: -5px;
  z-index: -1;
  background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
  background-size: 400%;
  border-radius: 40px;
  opacity: 0;
  transition: 0.5s;
}

.btnreg:hover:before {
  filter: blur(20px);
  opacity: 1;
  animation: animate 8s linear infinite;
}

/** ============================================================= */
/*? кнопка логин в форме логин */

.btnForm {
  line-height: 38px;
  background: #333;
  color: #ccc;
  width: 100%;
  height: 40px;
  border: 0;
  font-size: 18px;
  border-radius: 4px;
  font-family: 'Raleway', sans-serif;
  transition: 0.6s;
  overflow: hidden;
  padding-bottom: 5px;
}
.btnForm:focus {
  outline: 0;
}

.btnForm:before {
  content: '';
  display: block;
  position: absolute;
  background: rgba(255, 255, 255, 0.5);
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0.5;
  filter: blur(30px);
}

.btnForm:hover {
  background: #338033;
  cursor: pointer;
}
.btnForm:before {
  opacity: 0.6;
  transition: 0.7s;
}
.btnSh {
  font-size: 10%;
  margin-left: 10px;
  width: 70px;
  padding-right: 10px;
  line-height: 28px;
  background: #40ad40;
  color: rgb(204, 204, 204);
  height: 30px;
  border: 0;
  font-size: 18px;
  border-radius: 7px;
  transition: 0.6s;
  overflow: hidden;
  padding-bottom: 5px;
}
.btnSh:focus {
  outline: 0;
}

.btnSh:before {
  content: '';
  display: block;
  position: absolute;
  background: rgba(255, 255, 255, 0.5);
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0.5;
  filter: blur(30px);
}

.btnSh:hover {
  background: #a52c2c;
  cursor: pointer;
}
.btnForm:before {
  opacity: 0.6;
  transition: 0.7s;
}

.btnGo {
  width: 100%;
  margin-top: 10px;
  line-height: 26px;
  background: #318ba7;
  color: rgb(204, 204, 204);
  height: 30px;
  border: 0;
  font-size: 18px;
  border-radius: 7px;
  transition: 0.6s;
  overflow: hidden;
  padding-bottom: 5px;
}

.btnGo:focus {
  outline: 0;
}

.btnGo:before {
  content: '';
  display: block;
  position: absolute;
  background: rgba(255, 255, 255, 0.5);
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0.5;
  filter: blur(30px);
}

.btnGo:hover {
  background: #a52c2c;
  cursor: pointer;
}
.btnGo:before {
  opacity: 0.6;
  transition: 0.7s;
}

.btnDel {
  width: 40%;

  line-height: 26px;
  background: #c94444;
  color: rgb(204, 204, 204);
  height: 30px;
  border: 0;
  font-size: 18px;
  border-radius: 7px;
  transition: 0.6s;
  overflow: hidden;
  padding-bottom: 5px;
}

.btnDel:focus {
  outline: 0;
}

.btnDel:before {
  content: '';
  display: block;
  position: absolute;
  background: rgba(255, 255, 255, 0.5);
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0.5;
  filter: blur(30px);
}

.btnDel:hover {
  background: #a52c2c;
  cursor: pointer;
}
.btnDel:before {
  opacity: 0.6;
  transition: 0.7s;
}

.btnCm {
  margin-top: 10px;
  width: 350px;
  line-height: 26px;
  background: #c94444;
  color: rgb(204, 204, 204);
  height: 30px;
  border: 0;
  font-size: 18px;
  border-radius: 7px;
  transition: 0.6s;
  overflow: hidden;
  padding-bottom: 5px;
  box-sizing: border-box;
  background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
  background-size: 300%;
  border-radius: 10px;
  z-index: 30;
  animation: animate 20s linear infinite;
}
.btnCm:hover {
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.btnUpload {
  margin-top: 10px;
  width: 350px;
  line-height: 26px;
  background: #c94444;
  color: rgb(204, 204, 204);
  height: 30px;
  border: 0;
  font-size: 18px;
  border-radius: 7px;
  transition: 0.6s;
  overflow: hidden;
  padding-bottom: 5px;
  box-sizing: border-box;
  background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
  background-size: 300%;
  border-radius: 10px;
  z-index: 30;
  animation: animate 20s linear infinite;
}
.btnUpload:hover {
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.btnDelPh {
  width: 60px;
  line-height: 26px;
  background: #c94444;
  color: rgb(204, 204, 204);
  height: 30px;
  border: 0;
  font-size: 18px;
  border-radius: 7px;
  transition: 0.6s;
  overflow: hidden;
  padding-bottom: 5px;
}

.btnDelPh:focus {
  outline: 0;
}

.btnDelPh:before {
  content: '';
  display: block;
  position: absolute;
  background: rgba(255, 255, 255, 0.5);
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0.5;
  filter: blur(30px);
}

.btnDelPh:hover {
  background: #a52c2c;
  cursor: pointer;
}
.btnDelPh:before {
  opacity: 0.6;
  transition: 0.7s;
}

.custom-file-upload {
  margin-bottom:11px ;
  margin-top: 10px;
  width: 350px;
  line-height: 26px;
  background: #c94444;
  color: rgb(204, 204, 204);
  height: 30px;
  border: 0;
  font-size: 18px;
  border-radius: 7px;
  transition: 0.6s;
  overflow: hidden;
  padding-left: 60px;
  box-sizing: border-box;
  background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
  background-size: 300%;
  border-radius: 10px;
  z-index: 30;
  animation: animate 20s linear infinite;
}
.custom-file-upload:hover {
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}