body {
  background: #fde9ef;
  /* background-image: url(https://sun9-2.userapi.com/impg/ZmRXDilxvCzoywjt-LypgJGZ3Z9bNadoVmDgnw/qE8ZGFhfcjI.jpg?size=1920x985&quality=96&sign=2f98e4efb25e1b621eb3714f1a450e40&type=album); */
  width: auto;
  margin: 0%;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}
.footercontent {
  padding: 0 10px 0 10px;
  background: rgb(27, 27, 27);
}
.container {
  opacity: 93%;
  background: #1b1b1b;
  box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px,
    rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px,
    rgba(240, 46, 170, 0.05) 25px 25px;
}

.label {
  align-items: center;
  text-align: center;
  background-size: 300%;
  background-color: #2aa5a0;
  background-image: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animate 8s linear infinite;
}
@keyframes animate {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 400%;
  }
}

.label:before {
  content: '';
  position: absolute;
  top: -5px;
  right: -5px;
  bottom: -5px;
  left: -5px;
  z-index: -1;
  background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
  background-size: 400%;
  border-radius: 40px;
  opacity: 0;
  transition: 0.5s;
}

.fa-brands {
  font-size: 24px;
  color: rgb(230, 54, 54);
  width: 35px;
}
.fa-icons {
  font-size: 24px;
  color: rgb(230, 54, 54);
  width: 35px;
}
.fa-solid {
  padding-right: 5px;
}
.fa-regular {
  padding-right: 5px;
}
.fa-person-through-window{
  color: white;
  font-size: 30px;
  padding-top: 5px;
}

.logo {
  display: flex;
  flex-direction: row;
  width: 200px;
  justify-content: space-between;
}

.disc {
  font-size: 13px;
  margin: auto;
}

.disc1 {
  font-size: 17px;
  margin: auto;
}

.discMain {
  padding: 10px 0 10px 0;
}

.navbar {
  background: #1b1b1b;
}

.nav-link {
  color: white;
}

.lifeType {
  background-color: #2aa5a0;
  background-image: linear-gradient(90deg, #e3535d, #2aa5a0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.life {
  padding-left: 340px;
}

.mainText {
  position: absolute;
  display: flex;
  flex-direction: column;
  z-index: 100;
  top: 120px;
  right: 700px;
  font-size: 20px;
  font-weight: 500;
  animation-name: mainText;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@keyframes mainText {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

.form-label {
  color: white;
  font-size: 13px;
}
.form-control {
  background: #fde9ef;
  opacity: 85%;
}

.navName {
  font-size: 20px;
}
